*,
*::before,
*::after {
  box-sizing: border-box;
}
textarea {
  resize: none;
}
ul {
  list-style-type: none;
}
.note-card {
  display: flex;
}
button {
  padding: 0.3rem;
  border: none;
  border-radius: 7px;
}
